<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Proyecto
    </div>
  
 

    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="codigo">Nombre del proyecto</label>
          <input  type="text" class="form-control" id="codigo" name="codigo"
          required
          [(ngModel)]="project.name" 
            #newProyectoName
          ngModel #codigo="ngModel" sin-espacios>

        <div *ngIf="codigo.errors">
          <div *ngIf="codigo.errors.sinEspacios" class="alert alert-danger">
            No se permite el uso de espacios
          </div>
        </div>

        

        <div class="form-group">
          <label for="nombre">Descripcion del proyecto</label>
          <textarea rows="20" cols="50" type="text" class="form-control" id="nombre" name="nombre" 
          required
          [(ngModel)]="project.description"
          ></textarea>

        </div>
        <div> 
          <button (click)="addProyecto(project)">Guardar</button>
        </div>

        <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
