<div class="contenido">
  <div class="first">
    <div class="imagen">
      <img src="src\assets\banner.jpg" alt="imagen">
    </div>
    <div class="texto">
      <h4>Lorem ipsum</h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>
  <div class="second">
    <div class="imagen2">
      <img src="src\assets\fondo.jpg" alt="imagen2">
    </div>
    <div class="texto2">
      <h4>Lorem ipsum</h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>

</div>
